* {
  margin: 0;
}

// <weight>: Use a value from 300 to 800
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* nav styling -- skeleton */
nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 230px;
  align-items: center;
  /* margin: 0 200px; */
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

/* Setting background image in 'header' section */
.header {
  background-image: url("/images/developer.png"), url("/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  /* background-size: cover; */
}
/* nav style part-2 */
.nav-title {
  font-size: 45px;
  color: #181818;
  font-weight: 800;
}
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.list-element {
  font-size: 20px;
  font-weight: 400;
}
.btn-primary {
  background: #fd6e0a;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  /* width: 130px;
  height: 44px; */
}
